<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:insert ="fragments :: head"></head>

<div class="card-header">
    <nav th:insert="fragments :: nav"></nav>
    <h1>Add An Event</h1>
</div>


<body class="container">
<br>
        <form method="post">
            <div class="form-group">
                <label>Event Name
                <input th:field="${event.name}" class="form-control">
                </label>
                <p class="error" th:errors="${event.name}"></p>
            </div>
            <div class="form-group">
                <label>Date
                <input type="date" th:field="${event.eventDetails.date}" class="form-control"></input>

                </label>
                <p class="error" th:errors="${event.eventDetails.date}"></p>
            </div>
            <div class="form-group">
                <label>Start Time
                    <input type="time" th:field="${event.eventDetails.time}" class="form-control"></input>

                </label>
                <p class="error" th:errors="${event.eventDetails.time}"></p>
            </div>


            <div class="form-group">
                <label> Who's Going
                    <input th:field="${event.eventDetails.name}" class = "form-control" ></input>
                    </label>
                <p class="error" th:errors="${event.eventDetails.name}"></p>
            </div>
            <div class="form-group">
                <label>Location
                <input th:field="${event.eventDetails.location}" class="form-control">
                </label>
                <p class="error" th:errors="${event.eventDetails.location}"></p>
            </div>
            <div class="form-group">
                <label>Notes
                <input th:field="${event.eventDetails.notes}" class="form-control">
                </label>
                <p class="error" th:errors="${event.eventDetails.notes}"></p>
            </div>
        <br>
            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-primary">
            </div>

        </form>
    </body>
</html>