<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:insert ="fragments :: head"></head>

<div class="card-header">
  <nav th:insert="fragments :: nav"></nav>
  <h1>Event</h1>
</div>

<body class="container">
<br>
<table class="table table-striped">
  <tr>
    <th>Event Name</th>
    <td th:text="${event.name}" style="font-size: 1em;color: #4B6587;font-weight: 400;"></td>
  </tr>
  <tr>
    <th>Date</th>
    <td th:text="${#dates.format(event.EventDetails.date, 'MM-dd-yyyy')}" style="font-size: 1.25em;color: #4B6587;font-weight: 500;"></td>
  </tr>
  <tr>
    <th>Start Time</th>
    <td th:text="${#dates.format(event.EventDetails.startTime, 'h:mm a')}" style="font-size: 1.25em;color: #4B6587;font-weight: 500;"></td>
  </tr>
  <tr>
    <th>End Time</th>
    <td th:text="${#dates.format(event.EventDetails.endTime, 'h:mm a')}" style="font-size: 1.25em;color: #4B6587;font-weight: 500;"></td>

  </tr>
  <tr>
    <th>Location</th>
    <td th:text="${event.eventDetails.location}" style="font-size: 1.25em;color: #4B6587;font-weight: 500;"></td>
  </tr>
  <tr>
    <th>Who's going</th>
    <td  th:text="${event.eventDetails.name}" style="font-size: 1.25em;color: #4B6587;font-weight: 500;"></td>
  </tr>
  <tr>
    <th>Notes</th>
    <td th:text="${event.eventDetails.notes}" style="font-size: 1.25em;color: #4B6587;font-weight: 500;"></td>
  </tr>
</table>


<br>
<form th:action="@{'/events/cancel/' + ${event.id}}">
  <input type="submit" class="btn btn-outline-danger" value="Cancel" />
</form>


</body>
</html>