<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<header th:replace="fragments :: pageHeader"></header>

<table class="table table-striped">
  <tr>
    <th>Event Name</th>
    <td th:text="${event.name}"></td>
  </tr>
  <tr>
    <th>Starts</th>
    <td th:text="${event.EventDetails.date}"></td>
  </tr>

  <tr>
    <th>Location</th>
    <td th:text="${event.eventDetails.location}"></td>
  </tr>
  <tr>
    <th>Who's going</th>
    <td th:text="${event.eventDetails.name}"></td>
  </tr>
  <tr>
    <th>Notes</th>
    <td th:text="${event.eventDetails.notes}"></td>
  </tr>

</table>
</body>
</html>