<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">

  <style>
        .form-group{
            margin: 7.5px, 0;
        }
    </style>

</head>
<div class="card-header">
  <nav th:replace="fragments :: nav"></nav>
  <h1>Edit Event</h1>
</div>
<br>
<body class="container">

<form method="post">
  <div class="form-group">
    <label>Event Name
      <input th:field="${item.name}" class="form-control"/>
    </label>
    <p class="error" th:errors="${item.name}"></p>
  </div>
  <div class="form-group">
    <label>Date
      <input type="date" th:field="${item.eventDetails.date}" class="form-control"></input>

    </label>
    <p class="error" th:errors="${item.eventDetails.date}"></p>
  </div>
  <div class="form-group">
    <label>Start Time
      <input type="time" th:field="${item.eventDetails.time}" class="form-control"></input>

    </label>
    <p class="error" th:errors="${item.eventDetails.time}"></p>
  </div>


  <div class="form-group">
    <label>Who's Going
      <input th:field="${item.eventDetails.name}" class = "form-control" ></input>
    </label>
    <p class="error" th:errors="${item.eventDetails.name}"></p>
  </div>
  <div class="form-group">
    <label>Location
      <input th:field="${item.eventDetails.location}" class="form-control">
    </label>
    <p class="error" th:errors="${item.eventDetails.location}"></p>
  </div>
  <div class="form-group">
    <label>Notes
      <input th:field="${item.eventDetails.notes}" class="form-control">
    </label>
    <p class="error" th:errors="${item.eventDetails.notes}"></p>
  </div>

  <br>
  <div class="form-group">
    <input type="submit" value="Update Event" class="btn btn-primary">
  </div>

</form>
</body>
</html>