<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body class="container">
<div class="card-header">
  <nav th:replace="fragments :: nav"></nav>
  <tr><th>Edit Event</th><th></th></tr>
</div>

<form method="post">
  <div class="form-group">
    <label>Edit Event Name
      <input th:field="${item.name}" class="form-control"/>
    </label>
    <p class="error" th:errors="${item.name}"></p>
  </div>
  <div class="form-group">
    <label>Edit Date
      <input type="date" th:field="${item.eventDetails.date}" class="form-control"></input>

    </label>
    <p class="error" th:errors="${item.eventDetails.date}"></p>
  </div>
  <div class="form-group">
    <label>Edit Start Time
      <input type="time" th:field="${item.eventDetails.startTime}" class="form-control"></input>

    </label>
    <p class="error" th:errors="${item.eventDetails.startTime}"></p>
  </div>
  <div class="form-group">
    <label>Edit End Time
      <input type="time" th:field="${item.eventDetails.endTime}" class="form-control"></input>

    </label>
    <p class="error" th:errors="${item.eventDetails.endTime}"></p>
  </div>

  <div class="form-group">
    <label>Edit Who's Going
      <input th:field="${item.eventDetails.name}" class = "form-control" ></input>
    </label>
    <p class="error" th:errors="${item.eventDetails.name}"></p>
  </div>
  <div class="form-group">
    <label>Edit Location
      <input th:field="${item.eventDetails.location}" class="form-control">
    </label>
    <p class="error" th:errors="${item.eventDetails.location}"></p>
  </div>
  <div class="form-group">
    <label>Edit Notes
      <input th:field="${item.eventDetails.notes}" class="form-control">
    </label>
    <p class="error" th:errors="${item.eventDetails.notes}"></p>
  </div>

  <div class="form-group">
    <input type="submit" value="Edit" class="btn btn-success">
  </div>
</form>
</body>
</html>