<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<header th:replace="fragments :: pageHeader"></header>
<nav th:replace="fragments :: nav"></nav>

<!--where naviagation is, used to be pageHeader -->
<table class="table table-striped">
  <thead>
  <tr>
    <th>All Events</th>
  <tr>
    <th>Event</th>
    <th>Who's Going</th>
    <th>Date</th>
    <th>Time</th>
    <th>Location</th>
    <th>Notes</th>
  </tr>
  </tr>
  </thead>
  <tr th:each="event : ${events}">
    <td><a th:text="${event.name}"></a></td>
    <td><a th:text="${event.eventDetails.name}"></a></td>
    <td><a th:text="${#dates.format(event.EventDetails.date, 'MM-dd-yyyy')}"></a></td>
    <td><a th:text="${#dates.format(event.EventDetails.time, 'h:mm a')}"></a></td>
    <td><a th:text="${event.eventDetails.location}"></a></td>
    <td><a th:text="${event.eventDetails.notes}"></a></td>
    <form th:action="@{'/events/edit/' + ${event.id}}">
      <td><input type="submit" value="Edit Event" class="btn btn-outline-success"></td>
    </form>
    <form th:action="@{'/events/cancel/' + ${event.id}}">
      <td><input type="submit" class="btn btn-primary" value="Cancel" /></td>
    </form>

  </tr>
</table>
<footer th:replace="fragments :: footer"></footer>
</body>
</html>