<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:insert ="fragments :: head"></head>

<div class="card-header">
  <nav th:insert="fragments :: nav"></nav>
  <h1>All Events</h1>
</div>

<body class="container">
<br>

<table class="table table-striped">
  <thead>

  <tr>
    <th>Event</th>
    <th>Who's Going</th>
    <th>Date</th>
    <th>Start Time</th>
    <th>End Time</th>
    <th>Location</th>
    <th>Notes</th>
    <th></th>
    <th></th>
  </tr>

  </thead>
  <tr th:each="event : ${events}">
    <td><a th:text="${event.name}"></a></td>
    <td><a th:text="${event.eventDetails.name}"></a></td>
    <td><a th:text="${#dates.format(event.EventDetails.date, 'MM-dd-yyyy')}"></a></td>
    <td><a th:text="${#dates.format(event.EventDetails.startTime, 'h:mm a')}"></a></td>
    <td><a th:text="${#dates.format(event.EventDetails.endTime, 'h:mm a')}"></a></td>
    <td><a th:text="${event.eventDetails.location}"></a></td>
    <td><a th:text="${event.eventDetails.notes}"></a></td>
    <form th:action="@{'/events/edit/' + ${event.id}}">
      <td><input type="submit" value="Edit Event" class="btn btn-outline-success"></td>
    </form>
    <form th:action="@{'/events/cancel/' + ${event.id}}">
      <td><input type="submit" class="btn btn-outline-danger" value="Delete" /></td>
    </form>

  </tr>
</table>
<div>
  <p th:unless="${events} and ${events.size()}">You have no events entered.</p>
</div>

<form th:action="@{/events/create}">
  <input type="submit" class="btn btn-primary" value="Add an Event"/>
</form>
</body>
</html>