<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>


<body class="container">
<br>
<div class="card-header">
  <section th:replace="fragments :: nav"></section>
</div>
<br>

<header th:replace="fragments :: pageHeader"></header>
<nav th:replace="fragments :: nav"></nav>


<table class="table table-striped">
  <thead>
  <tr>
    <th>All Events</th>
  </tr>
  </thead>
  <tr th:each="event : ${events}">
    <td><a th:href="'/events/displayEvent/?eventId=' + ${event.id}" th:text="${event.name}"></a></td>
  </tr>
</table>
<footer th:replace="fragments :: footer"></footer>

<div th:replace="fragments :: jsBoot"></div>

</body>
</html>