<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<div class="card-header">
    <nav th:replace="fragments :: nav"></nav>
    <h1>Add to the To Do List</h1>
</div>
</br>
<body class="container">
<form method="post">
    <div class="form-group">
        <label>To Do
            <input class="form-control" th:field="${toDoList.name}">
        </label>
        <p class="error" th:errors="${toDoList.name}"></p>
    </div>
    <div class="form-group">
        <label>Member
            <input class="form-control" th:field="${toDoList.member}">
        </label>
        <p class="error" th:errors="${toDoList.member}"></p>
    </div>
    <div class="form-group">
        <label>Start Date
            <input type="date" th:field="${toDoList.start}" class="form-control"></input>

        </label>
        <p class="error" th:errors="${toDoList.start}"></p>
    </div>
    <div class="form-group">
        <label>Start Time
            <input type="time" th:field="${toDoList.starttime}" class="form-control"></input>
        </label>
        <p class="error" th:errors="${toDoList.starttime}"></p>
    </div>
    <div class="form-group">
        <label>End Date
            <input type="date" th:field="${toDoList.enddate}" class="form-control"></input>

        </label>
        <p class="error" th:errors="${toDoList.enddate}"></p>
    </div>
    <div class="form-group">
        <label>End Time
            <input type="time" th:field="${toDoList.endtime}" class="form-control"></input>
        </label>
        <p class="error" th:errors="${toDoList.endtime}"></p>
    </div>
    </br>
    <input type="submit" class="btn btn-primary" value="Add To List"/>
</form>
</body>
</html>