<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body class="container">
<div class="card-header">
    <a class="nav-link float-right" href="/home/logout">Logout</a>
</div>
</br>
<form method="post">
    <div class="form-group">
        <label>To Do
            <input class="form-control" th:field="${toDoList.name}">
        </label>
        <p class="error" th:errors="${toDoList.name}"></p>
    </div>
    <div class="form-group">
        <label>Member
            <input class="form-control" th:field="${toDoList.member}">
        </label>
        <p class="error" th:errors="${toDoList.member}"></p>
    </div>
    <div class="form-group">
        <label>Start Time
            <input class="form-control" type="datetime-local" th:field="${toDoList.start}">
        </label>
        <p class="error" th:errors="${toDoList.start}"></p>
    </div>
    </br>
    <input type="submit" class="btn btn-primary" value="Add To List"/>
</form>
</body>
</html>