<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>


<div class="card-header">
    <nav th:replace="fragments :: nav"></nav>
    <h1>To Do List</h1>
</div>

<body class="container">
    <br>
        <table class="table table-striped" style="width:100%;;">
            <thead>
            <tr>
                <th>Who</th>
                <th>To-Do List</th>
                <th>Start Date</th>
                <th></th>
                <th>End Date</th>
                <th></th>
                <th></th>
            </tr>
            </thead>

            <th:block th:each="todolist : ${todolist}">
                <tr>
                    <td th:text="${todolist.member}"></td>
                    <td th:text="${todolist.name}"></td>
                    <td th:text="${todolist.start}"></td>
                    <td th:text="${todolist.starttime}"></td>
                    <td th:text="${todolist.enddate}"></td>
                    <td th:text="${todolist.endtime}"></td>
                    <form th:action="@{'/todolist/delete/' + ${todolist.id}}">
                        <td><input type="submit" class="btn btn-primary" value="Delete" /></td>
                    </form>
                </tr>
            </th:block>
        </table>
        <div>
            <p th:unless="${todolist} and ${todolist.size()}">Uh-Oh!! Your To Do list is empty! You should add some events!</p>
        </div>
        <br>

        <form th:action="@{/todolist/add}">
            <input type="submit" class="btn btn-primary" value="Add To List"/>
        </form>

</body>
</html>