<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
    <!-- <meta charset="UTF-8"/> -->
    <title></title>
<!-- </head> -->
<body class="container">
<header th:replace="fragments :: pageHeader"></header>
    <h2 th:text="${title}">Family Organizer - Menu</h2>
<form method="post">
    <div>
    <label>Day of Week:
    <select th:field="*{menu.date}">
        <!-- <option value = "">* Select One *</option> -->
        <option th:value ="'Sunday'" th:text="Sunday"></option>
        <option th:value ="'Monday'" th:text="Monday"></option>
        <option th:value ="'Tuesday'" th:text="Tuesday"></option>
        <option th:value ="'Wednesday'" th:text="Wednesday"></option>
        <option th:value ="'Thursday'" th:text="Thursday"></option>
        <option th:value ="'Friday'" th:text="Friday"></option>
        <option th:value ="'Saturday'" th:text="Saturday"></option>
    </select>
      </label>
    </div>
   <!-- <div class="form-group">
        <label>Select Day
            <input class="form-control" th:field="${menu.date}" />
        </label>
        <p class="error" th:errors="${menu.mainCourse}"></p>
    </div> -->
    <div class="form-group">
        <label>Enter Main Course
            <input class="form-control" th:field="${menu.mainCourse}" />
        </label>
        <p class="error" th:errors="${menu.mainCourse}"></p>
    </div>
    <div class="form-group">
        <label>Enter Vegetable
            <input class="form-control" th:field="${menu.vegetable}" />
        </label>
        <p class="error" th:errors="${menu.vegetable}"></p>
    </div>
    <div class="form-group">
        <label>Enter Main Side
            <input class="form-control" th:field="${menu.mainSide}" />
        </label>
        <p class="error" th:errors="${menu.mainSide}"></p>
    </div>
    <div class="form-group">
        <label>Enter additional_side
            <input class="form-control" th:field="${menu.additionalSide}" />
        </label>
        <p class="error" th:errors="${menu.additionalSide}"></p>
    </div>
    <div class="form-group">
        <label>Enter Dessert
            <input class="form-control" th:field="${menu.dessert}" />
        </label>
        <p class="error" th:errors="${menu.dessert}"></p>
    </div>
    <input type="submit" class="btn btn-primary" value="Add" />
</form>
</body>
</html>