<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:insert ="fragments :: head"></head>

<div class="card-header">
    <nav th:insert="fragments :: nav"></nav>
    <h1>Edit Menu</h1>
</div>

<body class="container">
    <br>
        <form method="post" action="#">

            <div>
                <label>Day of Week:
                    <select th:field="*{menu.date}">
                        <option th:value = 7 th:text="Sunday"></option>
                        <option th:value = 1 th:text="Monday"></option>
                        <option th:value = 2 th:text="Tuesday"></option>
                        <option th:value = 3 th:text="Wednesday"></option>
                        <option th:value = 4 th:text="Thursday"></option>
                        <option th:value = 5 th:text="Friday"></option>
                        <option th:value = 6 th:text="Saturday"></option>
                    </select>
                </label>
            </div>
            <br>

            <input type="hidden" th:value="${menu.id}" name="id" />

            <div class="form-group">
                <label>Enter Main Course
                    <input class="form-control" th:field="${menu.mainCourse}" />
                </label>
                <p class="error" th:errors="${menu.mainCourse}"></p>
            </div>
            <br>

            <div class="form-group">
                <label>Enter Vegetable
                    <input class="form-control" th:field="${menu.vegetable}" />
                </label>
                <p class="error" th:errors="${menu.vegetable}"></p>
            </div>
            <br>

            <div class="form-group">
                <label>Enter Main Side
                    <input class="form-control" th:field="${menu.mainSide}" />
                </label>
                <p class="error" th:errors="${menu.mainSide}"></p>
            </div>
            <br>

            <div class="form-group">
                <label>Enter additional_side
                    <input class="form-control" th:field="${menu.additionalSide}" />
                </label>
                <p class="error" th:errors="${menu.additionalSide}"></p>
            </div>
            <br>

            <div class="form-group">
                <label>Enter Dessert
                    <input class="form-control" th:field="${menu.dessert}" />
                </label>
                <p class="error" th:errors="${menu.dessert}"></p>
            </div>
            <br>

            <input type="submit" class="btn btn-primary" value="Edit" />

        </form>

    </body>

</html>