<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org/">

    <head>
        <meta charset="UTF-8"/>
        <link rel = "stylesheet" th:href="@{/styles.css}" />
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"/>
        <title>Family Organizer: Menu</title>
    </head>
    <br>

    <body class="container">
        <div class="card-header">
            <ul class="nav">
                <li class="nav-item"><a class="nav-link" href="/home/view">Home</a></li>
                <li class="nav-item"><a class="nav-link">Events</a></li>
                <li class="nav-item"><a class="nav-link">Grocery List</a></li>
                <li class="nav-item"><a class="nav-link">To Do List</a></li>
                <li class="nav-item"><a class="nav-link" href="/logout">Logout</a></li>
            </ul>
        </div>
        <br>

        <h1>Family Organizer: Menu</h1>
        <br>

        <ul>
            <th:block th:each="menu: ${menu}">

                <ul class="date">
                    <a th:href="@{/menu/edit/{id}(id=${menu.id})}">
                    <ul style = "font-weight:bold", th:switch="${menu.date}">
                        <span th:case=1>MONDAY</span>
                        <span th:case=2>TUESDAY</span>
                        <span th:case=3>WEDNESDAY</span>
                        <span th:case=4>THURSDAY</span>
                        <span th:case=5>FRIDAY</span>
                        <span th:case=6>SATURDAY</span>
                        <span th:case=7>SUNDAY</span>

                    </ul>
                    </a>
                </ul>
                <ul th:text="${menu.mainCourse}" />
                <ul th:text="${menu.vegetable}" />
                <ul th:text="${menu.mainSide}" />
                <ul th:text="${menu.additionalSide}" />
                <ul th:text="${menu.dessert}" />
                <br>

             </th:block>

        </ul>

        <form th:action="@{/menu/add}">
            <input type="submit" class="btn btn-primary" value="Add" />
        </form>

    </body>

</html>