<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
    <meta charset="UTF-8"/>
    <title>Menu</title>
<!-- </head> -->
<body class="container">
<header th:replace="fragments :: pageHeader"></header>
<h2 th:text="${title}">Family Organizer - Menu</h2>
<!-- <main>
    <div class="column1">
        <p>Column 1</p>
    </div>
    <div class="column2">
        <p>Column 2</p>
    </div>
    <div class="column3">
        <p>Column 3</p>
    </div>
</main> -->
<tr th:each="menu: ${menu}">
    <td th:text="${menu.date}" />
    <td th:text="${menu.mainCourse}" />
    <td th:text="${menu.vegetable}" />
    <td th:text="${menu.mainSide}" />
    <td th:text="${menu.additionalSide}" />
    <td th:text="${menu.dessert}" />
</tr>

<!-- <form method="post">
    <div class="form-group"> -->
</body>

<div>
    <h2 th:text="${title}"></h2>
</div>
</html>