<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">

    <style>
            #home-table1{
            margin-top: 20px;
        }

        #home-table2{
            margin-top: 0px;
        }
    </style>
</head>

<div class="card-header">
    <nav th:insert = "fragments :: nav"></nav>
        <h1 class= "float-left" th:text="${#strings.capitalizeWords(currentdate)}" style="font-size: 2em; margin:20px 0;"></h1>
        <h1 class= "text-left" th:text="${#strings.capitalizeWords(title1)}"></h1>
</div>
<br>
<body class="container">

<div class="row justify-content-start">
    <div class="col-6">
    <table class="table table-striped" id="home-table1">
        <thead class="thead-light">
        <tr><th style="font-size: 2rem;">Todays Events</th><th></th></tr>
        <tr>
            <th>Who</th>
            <th>Event</th>
        </tr>
        </thead>
        <tr th:each="event : ${events}">
            <td th:text="${event.eventDetails.name}">Who's Event</td>
            <td><a th:href="'/events/displayEvent/?eventId='+ ${event.id}" th:text="${event.name}">Event Name</a></td>
        </tr>
    </table>
        <div>
            <p th:unless="${events} and ${events.size()}">You have no events scheduled for today.</p>
        </div>
    </div>
</div>

<br>
<br>

<div class="row justify-content-start">
<table class="table table-striped" id="home-table2">
    <thead class="thead-light">
    <tr>
        <th style="font-size: 2rem;">To Do List</th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
    <tr>
    <tr>
        <th>Who</th>
        <th>To-Do List</th>
        <th>Start Date</th>
        <th></th>
        <th>End Date</th>
        <th></th>
    </tr>
    </thead>
    <tr th:each="todolist : ${todolist}">
        <td th:text="${todolist.member}"></td>
        <td th:text="${todolist.name}"></td>
        <td th:text="${#dates.format(todolist.start, 'MM-dd-yyyy')}"></td>
        <td th:text="${#dates.format(todolist.starttime, 'h:mm a')}"></td>
        <td th:text="${#dates.format(todolist.enddate, 'MM-dd-yyyy')}"></td>
        <td th:text="${#dates.format(todolist.endtime, 'h:mm a')}"></td>
    </tr>
</table>
    <div>
        <p th:unless="${todolist} and ${todolist.size()}">You have no tasks in your to-do list.</p>
    </div>
</div>

</body>
</html>