<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body class="container">
<div class="card-header">
        <a class="nav-link float-right" href="/home/logout">Logout</a>
        <h1 class= "float-left" th:text="${#strings.capitalizeWords(currentdate)}"></h1>
        <h1 class= "text-center" th:text="${#strings.capitalizeWords(title1)} + ' Family'"></h1>
</div>
</br>
<table class="table table-striped" style="width:45%;display:inline-block">
    <thead>
    <tr><th>All Events</th><th></th></tr>
    <tr>
        <th>Who</th>
        <th>Event</th>
    </tr>
    </thead>
    <tr th:each="event : ${events}">
        <td th:text="${event.member}"></td>
        <td th:text="${event.name}"></td>
    </tr>
</table>

<table class="table table-striped" style="width:45%;display:inline-block">
    <thead>
    <tr><th>To Do List</th><th></th></tr>
    <tr>
        <th>Who</th>
        <th>To-Do List</th>
    </tr>
    </thead>
    <tr th:each="todolist : ${todolist}">
        <td th:text="${todolist.member}"></td>
        <td th:text="${todolist.name}"></td>
    </tr>
</table>

<ul class="card-footer">
    <ul class="nav">
    <li class="nav-item"><a class="nav-link" href="/events">To Do List</a></li>
    <!-- <li class="nav-item"><a class="nav-link" href="/events">Monthly Calendar</a></li> -->
    <li class="nav-item"><a class="nav-link" href="/events">Grocery List</a></li>
    <li class="nav-item"><a class="nav-link" href="/events">Add Event</a></li>
    <li class="nav-item"><a class="nav-link" href="/events">Add Task</a></li>
    <li class="nav-item"><a class="nav-link" href="/menu/add">Add Menu</a></li> <!-- Added line to access menu -->
    </ul>
</ul>
</body>
</html>