<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title>Family Organizer: Grocery List</title>
    <link rel = "stylesheet" th:href="@{/styles.css}" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"/>
</head>


<body class="container">
<div class="card-header">
    <ul class="nav">
        <li class="nav-item"><a class="nav-link" href="/home/view">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="/login">Login</a></li>
        <li class="nav-item"><a class="nav-link" href="/logout">Logout</a></li>
    </ul>
</div>
<!--<nav th:replace="fragments :: nav"></nav>-->
<h1 th:text="${title}">Add Item to Grocery List</h1>

<form method="post">
    <div class="form-group">
        <label>Enter new Grocery Item:
            <input class="form-control" type="text" th:field="${groceryList.name}"/>
        </label>
    </div>
    <p class="error" th:errors="${groceryList.name}"></p>

    <br>
    <div class="form-group">
        <label>Enter Quantity:
            <input class="form-control" type="number" th:field="${groceryList.quantity}" min="0" max="25"/>
        </label>
    </div>
    <p class="error" th:errors="${groceryList.quantity}"></p>
    <br>
    <div>
        <input type="submit" class="btn btn-primary" value="Add item">
    </div>

</form>



</body>
</html>