<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title>Family Organizer: Grocery List</title>
    <link rel = "stylesheet" th:href="@{/styles.css}" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"/>
</head>


<body class="container">

<nav th:replace="fragments :: nav"></nav>

<table class="table table-striped">
    <thead>
    <tr>
        <th>Grocery List</th>
    </tr>
    </thead>
    <th:block th:each="item : ${groceryList}">
    <tr>
        <td th:text="${item}">Grocery List Item</td>
        <td><input type="submit" value="delete" class="btn btn-danger"></td>
    </tr>
    </th:block>
</table>

</body>
</html>
